* {

  margin: 0;
  padding: 0;
}


body {
  background-color: rgb(0, 0, 34);
  color: white;
  font-family: poppins, sans-serif;
  line-height: 1.6;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: rgb(5, 5, 69);
  padding:0 20px;
}
nav .left{
  font-size: 1.5rem;
  font-weight: bold;
}

nav ul {
  display: flex;
 gap: 20px;
}

nav ul li {
  list-style: none;


}

nav ul li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;

}

nav ul li a:hover {
  color: rgb(99, 99, 236);
  

}



.firstSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  gap: 40px;
}

.firstSection>div {
  flex: 1 1 300px;
  text-align: center;

}

.leftSection {

  font-size: 2rem;

}

.rightSection img {
  width: 100%;
  max-width:  350px;
  height: auto;
  border-radius: 10px;
}

.purple {
  color: rgb(126, 57, 190);
}

#element {
  color: rgb(126, 57, 190);
  font-weight: bold;
}
.button{
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: rgb(126 ,57 ,190);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.button:hover{
  background: rgb(99, 99, 236);
}

section{
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

h2{
  font-size: 1.8rem;
  border-bottom:2px solid #444;
  padding-bottom: 5px;
  margin-bottom: 20px;
  margin: auto;
}

ul{
  margin-top: 10px;
  padding-left: 20px;

}

.about ul,.projects ul,.skills ul, .language ul,.contactul{
  list-style: disc;
  font-size: 1.5rem;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}



@media(max-width: 768px ){
  nav ul{
    flex-direction: column;
    background: rgb(5, 5, 69);
    position: absolute;
    top: 70px;
    right: 0;
    width: 200px;
    display: none;
    padding: 15px;
  }
  nav ul .show{
    display: flex;
  }
  .firstSection{
    flex-direction: column;
  }
  .leftSection{
    font-size: 1.5rem;
  }
}



.about {
  font-size: 1.5rem;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.skills {
  font-size: 1.5rem;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.language {
  font-size: 1.5rem;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.projects {
  font-size: 1.5rem;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.contact {
  font-size: 1.5rem;
  padding: 20px;
  max-width: 800px;
  margin: auto;

}

.Aditya {
  text-align: center;
  color: rgb(126, 57, 190);
}



h2 {
  border-bottom: 2px solid #444;
  padding-bottom: 5px;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #070144;
  color: #e4dfe9;
  margin-top: 2rem;
}